.component__container {
	position: relative;
	top: calc(0vh + 2.7rem);
	display: flex;
	color: #000000;
}

.left__container {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
.toggle_item_container {
	display: flex;
	justify-content: space-evenly;
}

.toggle__item {
	width: 8rem;
	text-align: center;
	padding: 0.5rem;
	background-color: #777;
	color: #fff;
	cursor: pointer;
}

.active {
	background-color: #fff;
	color: #000;
}

.instructions {
	width: 30vw;
	height: calc(100vh - 2.7rem);
	border-left: 1px solid #000000;
}
